@import 'variables';
@import 'resets';
@import 'mixins';

body{
    font-family: $open-sans;
    background: $violet url('/images/bg-mobile.svg') no-repeat fixed top;
    color:white;
    min-height: 100vh;
    
    @include for-tablet{
        background: $violet url('/images/bg-desktop.svg') no-repeat;
        background-size: cover;
        
    }
}

h1, h2, h3{
    font-family: $poppins;
}
.container{
    padding:40px;
}

footer{
    padding: 0 40px;
    text-align: center;
    @include for-tablet{
        padding: 150px 40px 0;
    }
}
footer a{
    color: $soft-magenta;
    text-decoration: none;
}

.container{
    @include for-tablet{
        padding: 40px 80px;
    }
}


.container{
    
    @include for-tablet{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        .hero-section{
            display: flex;
            justify-content: center;
            align-items: center;
            gap:4rem;
            .container-desc{
                text-align: left;
                max-width: 500px;
                h1{
                    font-size: 2.5rem;
                    line-height: 3.75rem;
                }
            }
        }
    }
}

.logo-container img{
    width: 100%;
    max-width: 120px;
    margin-bottom: 3.5em;
    @include for-tablet{
        max-width: 200px;
    }
}
.illustration-container img{
    
    width: 100%;
    margin-bottom: 3.5em;
}

.container-desc{
    text-align: center;
    h1{
        font-size: 1.5rem;
        line-height: 2.2rem;
        margin-bottom: 1em;
    }
    p{
        margin-bottom: 1.5rem;
    }
    button{
        border: none;
        background-color: #F2F2F2;
        color:#684BB1;
        padding:11px 75px;
        border-radius: 30px;
        font-size: .75rem;
        line-height: 1.125rem;
        margin-bottom: 4em;
        box-shadow: 2px 4px 9px 3px rgba(0,0,0,0.3);
    }
    button:hover{
        color:white;
        background-color: #E880E8;
        cursor: pointer;
    }
    
}
.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:16px;
    
    a{
        text-decoration: none;
        color:inherit;
    }
    
    i{
        font-size: 16px;
        padding:7px 10px;
        border: 1px solid white;
        border-radius: 50%;
    }
    i:hover{
        color:#E880E8;
        border-color: #E880E8;
    }

    @include for-tablet{
        justify-content: flex-end;
    }
}



